/*  ADD your styles below --- WHERE INDICATED ---
    Keep all the comments I have provided.
    Where I have commented "keep," DO NOT touch that line!
    */

body {
    background: #E8DAC7; /* must change */
    color: #000; /* may be #000 or #fff */
    font-family: Calibri, Arial, sans-serif; /* keep */
}

/* --- ADD YOUR STYLES BELOW --- */

/* --- add your PSEUDO CLASSES below this line --- */

article {
    background: #542450;
    color: #FFFFFF;
    width: 800px; /* keep */
    padding: 20px; /* keep */
    margin: auto; /* keep */
    border: 3px solid; /* can delete or change */
}

header,footer {
    background: #80DED9;
    color: #000;
}

aside{
  background: #E8DAC7; /* must change */
  color: #000;
}

figure{
    background: #DEEFB7;
    color:#000;
}

a:link{
    color: #5D157A;
}

a:visited {
  color: #590004;
}

a:focus{
  color: #750A00;
}

a:hover{
  color: #01463F;
  text-decoration: none;
}

a:active{
  color:#033F23;
}
